.dart_tool/
.dart-local/
.packages
.pub-cache/
.pub/
build/
LocalLow/

linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

ios/Flutter/.last_build_id
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
